body{
margin:0;
font-family:monospace;
background:#050505;
color:#eaeaea;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
background:#0b0b0b;
border-bottom:1px solid #222;
}

.logo{
font-size:18px;
font-weight:bold;
color:#00ff9c;
}

nav a{
margin:0 10px;
text-decoration:none;
color:#aaa;
}

nav a:hover{
color:#00ff9c;
}

button{
background:#00ff9c;
border:none;
padding:8px 15px;
cursor:pointer;
}

.hero{
padding:60px 20px;
text-align:center;
}

.hero h1{
font-size:35px;
color:#00ff9c;
}

.api-box{
display:flex;
justify-content:center;
margin-top:20px;
}

.method{
background:#00ff9c;
color:#000;
padding:8px 12px;
font-weight:bold;
}

.endpoint{
background:#111;
padding:8px 15px;
border:1px solid #333;
}

.docs{
padding:40px;
}

.code-box{
background:#0d0d0d;
border:1px solid #222;
padding:15px;
margin:15px 0;
overflow:auto;
}

code{
color:#00ff9c;
}

.terminal{
background:#000;
padding:30px;
border-top:1px solid #222;
}

pre{
color:#00ff9c;
font-size:13px;
height:200px;
overflow:auto;
}

@media(max-width:700px){

nav{
display:none;
}

.hero h1{
font-size:24px;
}

}